<style>

  .navbar{
    background-color: transparent;
    text-align: center;
    justify-content: center;
  }

  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .imgBackground {
    width: 100%;
    height: auto;
    margin-top: -125px;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 5px;
  }

  @font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-Light.otf) format("opentype");
  }

</style>

<nav class="navbar navbar-expand-md sticky-top" (scroll)="onWindowScroll();">
  <div style="
  width: 1200px;
  /*background-color: yellowgreen;*/
">
    <img
      width="250"
      src="assets/images/janine_logo_2.png"
    />
    <a href="#bear-logo">BEAR SOUP</a>
    <span class="testSpan">Willkommen</span>
    <span class="testSpan">Informationen</span>
    <span class="testSpan">Pakete</span>
    <span class="testSpan">Kontakt</span>
  </div>
</nav>

<img
  class="imgBackground"
  src="assets/images/white_teeth.webp"
/>

<div style="height: 100px">

</div>

<div
  style="
  justify-content: center;
  align-items: center;
  width: 1200px;
  /*background-color: yellowgreen;*/
  margin: 0 auto;
  display: flex;
">
  <div
    style="
    flex:1;
    float: left;
">
      <h1 style="
      font-family: gilroy;
      color: #b08720;
">
        Bleachings bei Janine – Professionelle und sichere Zahnaufhellung!
      </h1>
    </div>
    <div
      style="
      flex:1;
"
    >
      <ul style="text-align: left; color: dimgrey; font-family: gilroy">
        <li>
          <strong>Schonend</strong> und <strong>langfristig</strong> aufhellen (White-Effekt hält mehrere Jahre)
        </li>
        <li>
          Individuelles Whitening: 2 bis 8 Farbstufen(!) heller bis hin zum Super-Weiß
        </li>
        <li>
          Einzelne Zähne oder ganze Zahnreihen aufhellen
        </li>
        <li>
          Schnell & Professionell durch spezielle Power-Bleaching-Technik
        </li>
        <li>
          Individuelle Bleaching-Schiene für eine langanhaltende Zahn-Aufhellung zuhause (Home-Bleaching)
        </li>
      </ul>
    </div>
</div>

<div style="height: 100px">
</div>

<div
  style="
  justify-content: center;
  align-items: center;
  width: 1200px;
  /*background-color: yellowgreen;*/
  margin: 0 auto;
  display: flex;
">

  <h1 style="font-family: gilroy;color: #b08720; font-size: 42px">
    Wir beantworten all Ihre Fragen zu weißen <br> Zähnen mit Bleaching.
  </h1>

</div>

<div style="height: 100px">
</div>

<div id="page-wrap">
  <div class="testDiv">
    <p class="testSpan2">
      Perfekte Öffnungszeiten für Sie!
    </p>
    <p class="testSpan3">
      Täglich von 7 bis 21 Uhr. Auch am Samstag.
    </p>
  </div>
</div>

<div style="font-family: gilroy;color: #b08720; font-size: 22px; text-align: left; margin-left: 25%">
  <p>
    Ein Lächeln wie aus dem Magazin: <br> Erleben Sie Premium-Bleaching in Dortmund!
  </p>
</div>

<!--/ colored line. Todo: Make it stay in the middle -->
<div style="width: 150px;height: 7px; background-color: #b08720; margin-left: 25%"></div>

<div style="
  font-family: gilroy;
  color: dimgrey;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 1%;
    margin-bottom: 2%;
  text-align: left;
">
  Entdecke bei uns in Dortmund das Geheimnis eines
  blendend weißen Lächelns. Für die anspruchsvolle
  Generation 18+ bieten wir modernste Bleaching-
  Technologien. Unser Studio vereint vertrauensvolle
  Atmosphäre mit stilvollem Design, um dir ein unvergleichliches
  Pfl egeerlebnis zu bieten. Genieße unsere
  individuellen Beratungen und maß geschneiderten
  Behandlungen, die perfekt auf deine Bedürfnisse
  abgestimmt sind. Wir setzen auf hochwertige Produkte
  und innovative Methoden für lang anhaltende
  Ergebnisse. Erlebe die perfekte Kombination aus
  Professionalität, Komfort und exklusiver Pfl ege.
</div>

<div style="font-family: gilroy;color: #b08720; font-size: 22px; text-align: left; margin-left: 25%">
  <p>
    Wichtige Informationen zur Behandlung
  </p>
</div>

<!--/ colored line. Todo: Make it stay in the middle -->
<div style="width: 150px;height: 7px; background-color: #b08720; margin-left: 25%"></div>

<div style="
  font-family: gilroy;
  color: dimgrey;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 1%;
  text-align: left;
  margin-bottom: 3%;
">
  Eine kosmetische Zahnaufhellung funktioniert am Besten
  bei natürlichen Zähnen. Zu beachten sind Zahnersatz,
  Kronen, Veneers oder Füllungen. Diese werden
  wieder in ihren ursprünglichen Farbton aufgehellt.
  Direkt nach der Behandlung empfehlen wir zwei
  Stunden auf Essen und Trinken zu verzichten, da die
  Wirkstoffe noch nachwirken.
  Die Behandlung darf nicht bei Schwangeren oder
  Frauen in der Stillzeit, sowie Patienten mit Chemotherapie
  durchgeführt werden.
</div>

<div style="font-family: gilroy;color: #b08720; font-size: 22px; text-align: left; margin-left: 25%">
  <p id="bear-logo">
    Unsere Pakete
  </p>
</div>

<!--/ colored line. Todo: Make it stay in the middle -->
<div style="width: 150px;height: 7px; background-color: #b08720; margin-left: 25%"></div>

<div style="display: flex; text-align: left; margin-left: 25%">
  <div style="flex: 2; margin-top: 5%">
    <p style="color: #b08720">ELEGANCE SMILE LIGHT</p>
    <p>
      Zahnaufhellung in 40 Minuten<br>
      Zwei Gel-Anwendungen <br>
      Aufhellung bis zu 5-6 Farbnuancen
    </p>
  </div>
  <div style="flex: 1; text-align: left">
    <p style="color: #b08720">99,00 €</p>
    <div style="width: 50px;height: 7px; background-color: #b08720;margin-top: -15px "></div>
  </div>
</div>

<div style="display: flex; text-align: left; margin-left: 25%">
  <div style="flex: 2; margin-top: 5%">
    <p style="color: #b08720">ELEGANCE SMILE LIGHT</p>
    <p>
      Zahnaufhellung in 40 Minuten<br>
      Zwei Gel-Anwendungen <br>
      Aufhellung bis zu 5-6 Farbnuancen
    </p>
  </div>
  <div style="flex: 1; text-align: left">
    <p style="color: #b08720">99,00 €</p>
    <div style="width: 50px;height: 7px; background-color: #b08720;margin-top: -15px "></div>
  </div>
</div>

<div style="display: flex; text-align: left; margin-left: 25%">
  <div style="flex: 2; margin-top: 5%">
    <p style="color: #b08720">ELEGANCE SMILE LIGHT</p>
    <p>
      Zahnaufhellung in 40 Minuten<br>
      Zwei Gel-Anwendungen <br>
      Aufhellung bis zu 5-6 Farbnuancen
    </p>
  </div>
  <div style="flex: 1; text-align: left">
    <p style="color: #b08720">99,00 €</p>
    <div style="width: 50px;height: 7px; background-color: #b08720;margin-top: -15px "></div>
  </div>
</div>




<div style="height: 100px">

</div>

<div style="height: 500px; background-color: green; color: white">
  <h1>Ich bin nur da, damit scrolling getestet werden kann :-)</h1>
</div>


<div style="
height: 500px;
background-color: #dfc291;
color: black;
justify-content: center;
text-align: center;
">

    <div style="padding-top: 5%">
        <img
          width="250"
          src="assets/images/janine_logo_inverse.png"
        />
    </div>

    <div style="padding-top: 2%">
      <h3>
        Kontaktdaten
      </h3>
    </div>

    <div>
      <p>
        <b>Elegance Smile</b><br>
        Hörder Rathausstraße 14<br>
        44263 Dortmund
      </p>
    </div>
    <div>
      <p>
        0231 6283 4369
      </p>
    </div>
    <div>
      <p>
        <a href="mailto:info@elegance-smile.de">info@elegance-smile.de</a>
      </p>
    </div>

  <div style="width: 25%; margin-left: 38%;">
    <div style="display: flex;">
      <div style="flex:1">
        <a routerLink="impressum">Impressum</a>
      </div>
      <div style="flex:1">
       <a>Datenschutzerklärung</a>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
