<style>

  .navbar{
    background-color: transparent;
    text-align: center;
    justify-content: center;
  }

  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .imgBackground {
    width: 100%;
    height: auto;
    margin-top: -125px;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 5px;
  }

  @font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-Light.otf) format("opentype");
  }

</style>

<nav class="navbar navbar-expand-md sticky-top" (scroll)="onWindowScroll();">
  <div style="
  width: 1200px;
  /*background-color: yellowgreen;*/
">
    <img
      width="250"
      src="assets/images/janine_logo_2.png"
    />
    <span class="testSpan">Willkommen</span>
    <span class="testSpan">Leistungen</span>
    <span class="testSpan">Kosten</span>
    <span class="testSpan">Kontakt</span>
    <span class="testSpan">Termine</span>
  </div>
</nav>

<img
  class="imgBackground"
  src="assets/images/white_teeth.webp"
/>

<div style="height: 100px">

</div>

<div
  style="
  justify-content: center;
  align-items: center;
  width: 1200px;
  /*background-color: yellowgreen;*/
  margin: 0 auto;
  display: flex;
">
  <div
    style="
    flex:1;
    float: left;
">
      <h1 style="
      font-family: gilroy;
      color: #b08720;
">
        Bleachings bei Janine – Professionelle und sichere Zahnaufhellung!
      </h1>
    </div>
    <div
      style="
      flex:1;
"
    >
      <ul style="text-align: left; color: dimgrey; font-family: gilroy">
        <li>
          <strong>Schonend</strong> und <strong>langfristig</strong> aufhellen (White-Effekt hält mehrere Jahre)
        </li>
        <li>
          Individuelles Whitening: 2 bis 8 Farbstufen(!) heller bis hin zum Super-Weiß
        </li>
        <li>
          Einzelne Zähne oder ganze Zahnreihen aufhellen
        </li>
        <li>
          Schnell & Professionell durch spezielle Power-Bleaching-Technik
        </li>
        <li>
          Individuelle Bleaching-Schiene für eine langanhaltende Zahn-Aufhellung zuhause (Home-Bleaching)
        </li>
      </ul>
    </div>
</div>

<div style="height: 100px">
</div>

<div
  style="
  justify-content: center;
  align-items: center;
  width: 1200px;
  /*background-color: yellowgreen;*/
  margin: 0 auto;
  display: flex;
">

  <h1 style="font-family: gilroy;color: #b08720; font-size: 42px">
    Wir beantworten all Ihre Fragen zu weißen <br> Zähnen mit Bleaching.
  </h1>

</div>

<div style="height: 100px">
</div>

<div id="page-wrap">
  <div class="testDiv">
    <p class="testSpan2">
      Perfekte Öffnungszeiten für Sie!
    </p>
    <p class="testSpan3">
      Täglich von 7 bis 21 Uhr. Auch am Samstag.
    </p>
  </div>
</div>

<div style="height: 100px">

</div>

<div style="height: 500px; background-color: green; color: white">
  <h1>Ich bin nur da, damit scrolling getestet werden kann :-)</h1>
</div>


<div style="height: 30%">

</div>

<router-outlet></router-outlet>
