<style>

  .navbar{
    background-color: transparent;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .imgBackground {
    width: 100%;
    height: auto;
    margin-top: -125px;
  }

  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 5px;
  }

  @font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-Light.otf) format("opentype");
  }

</style>



<router-outlet></router-outlet>
