/* You can add global styles to this file, and also import other style files */
/* || SKELETT - Scrollbar */

::-webkit-scrollbar {
    width: 7px;
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-track {
    background: #aaaaaa;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b08720;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }