/* @media screen and (max-width: 400px) {

  .flex1WhenFullScreen{

  }

  .navText{

    text-align: left;
    margin: 0 auto;
    margin-top: 44px;

    text-align: center;
    justify-content: center;

  }

  .navParent{
    width: 10px;
  }
  .imageParent{
    width: 100%;
  }
  .infoParent{
    width: 100%;
  }
  .footerParent{
    width: 100%;
  }

  .headerBGImage{
    width: 100%;
  }

  .imgBackground {
    width: 100%;
    margin-top: -27%;
  }

  .contact1{
    width: 100%;
    height: 500px;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  }

  .example{
    color: blue;
    font-size: 42px;
  }

  .navbar{
    background-color: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
  }



  .navbar-inverse-scrolled{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }


  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 20px;
    color: black;
  }
  .testSpanWelcome{
    margin-left: 2%;
    font-size: 1px;
    display: none;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 15px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }

  .nav1{
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    width: 35%;
  }

  .logo_image{
    width: 100%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .headline1{
    font-family: gilroy;
    color: #b08720;
    margin-bottom: 1em;
    line-height: 1.2em;
  }
  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 2em;
    padding: 1em;
    line-height: 1em;
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    margin: 0 auto;
    padding: 2em;
  }

  .question1{
    font-family: Arial, sans-serif;
    color: #b08720;
    font-size: 32px;
    text-align: left;
    line-height: 1em;
  }
  .question1button{
    font-family: gilroy;
    color: white;
    font-size: 22px;
    text-align: left;
    background-color: #b08720;
    width: 85%;
    padding: 15px;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
  }
  .questionSpacer{
    padding-top: 10%
  }

  .answer1{
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    color: dimgrey;
    font-size: 24px;
    margin-top: 5vw;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    text-align: left;
    margin-top: 5vh;
  }

  .paketeWidthDiv{
  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 32px;
    margin-left: 5%;
  }

  .unterstrich1{
    width: 30%;
    height: 7px;
    background-color: #b08720;
  }

  .paketeImageWidthDiv{
    height: 3em;
    margin-left: 5%;
  }

  .paketeImageWidth{
    width: 65%;
    padding-left: 10%;
  }

  .paketeOffersWidth{

  }

  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }

  .paketeOffersHeadlineColor{
    color: #b08720;
    font-size: 26px;
    padding-top: 1em;
    margin-left: 5%;
  }

  .paketeOffersMainText{
    font-size: 22px;
    line-height: 1.2em;
    margin-left: 5%;
  }

  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }

  .paketeOffersUnterstrich{
    width: 20%;
    height: 7px;
    background-color: #b08720;
    margin-left: 5%;
  }

  .contactPadding{
    padding-top: 5%
  }

  .contactPadding2{
    padding-top: 2%
  }

  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }

  .contactWholeWidth{
    width: 100%
  }

  .contactDisplayFlex{
    display: flex;
  }

  .contactFlex{
    flex:1
  }

  .spacer1{
    height: 80px
  }

  .spacer2{
    height: 50px
  }

  .spacer3{

  }

  .mainText1{
    margin: 0 auto;
    width: 100vw;
  }

  .mainText2{
    width: 100vw;
    margin: 0 auto;
  }

  .mainText1Flex{
    font-size: 32px;
  }

  .mainText1FlexRight{
    font-size: 24px;
    padding: 1em;
  }
}
@media screen and (min-width: 401px) and (max-width: 800px) {

  .flex1WhenFullScreen{
  }

  .kontaktdaten{
    font-family: gilroy;
    font-size: 24px;
  }

  .öffnungszeiten1{

  }

  .öffnungszeiten2{

  }
  .öffnungszeiten3{

  }


  .navText{

    text-align: left;
    margin: 0 auto;
    margin-top: 75px;

    text-align: center;
    justify-content: center;

  }

  .navParent{
    width: 10px;
  }

  .imageParent{
    width: 100%;
  }

  .infoParent{
    width: 100%;
  }

  .footerParent{
    width: 100%;
  }

  .headerBGImage{
    width: 100%;
  }

  .imgBackground {
    width: 100%;
    margin-top: -20%;
  }

  .contact1{
    width: 100%;
    height: 500px;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  }

  .example{
    color: blue;
    font-size: 42px;
  }

  .navbar{
    background-color: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .navbar-inverse-scrolled{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 1ms linear;
    -ms-transition: background-color 1ms linear;
    transition: background-color 1ms linear;
  }

  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }
  .testSpanWelcome{
    margin-left: 2%;
    font-size: 18px;
    color: black;
    display: none;
  }


  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 15px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }

  .nav1{
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    width: 35%;
  }

  .logo_image{
    width: 100%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .headline1{
    font-family: gilroy;
    color: #b08720;
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 3em;
    padding: 1em;
    line-height: 1em;
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    margin: 0 auto;
    padding: 2em;
  }

  .question1{
    font-family: Arial, sans-serif;
    color: #b08720;
    font-size: 32px;
    text-align: left;
    line-height: 1em;
  }
  .question1button{
    font-family: gilroy;
    color: white;
    font-size: 22px;
    text-align: left;
    background-color: #b08720;
    width: 73%;
    padding: 15px;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
  }
  .questionSpacer{
    padding-top: 5%
  }

  .answer1{
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    color: dimgrey;
    font-size: 24px;
    margin-top: 5vw;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    text-align: left;
    margin-top: 5vh;
  }

  .paketeWidthDiv{

  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 32px;
    margin-left: 5%;
  }

  .unterstrich1{
    width: 30%;
    height: 7px;
    background-color: #b08720;
  }

  .paketeImageWidthDiv{
    height: 3em;
    margin-left: 5%;
  }

  .paketeImageWidth{
    width: 65%;
    padding-left: 10%;
  }

  .paketeOffersWidth{

  }

  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }

  .paketeOffersHeadlineColor{
    color: #b08720;
    font-size: 26px;
    padding-top: 1em;
    margin-left: 5%;
  }

  .paketeOffersMainText{
    font-size: 22px;
    line-height: 1.2em;
    margin-left: 5%;
  }

  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }

  .paketeOffersUnterstrich{
    width: 20%;
    height: 7px;
    background-color: #b08720;
    margin-left: 5%;
  }

  .contactPadding{
    padding-top: 5%
  }

  .contactPadding2{
    padding-top: 2%
  }

  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }

  .contactWholeWidth{
    width: 100%
  }

  .contactDisplayFlex{
    display: flex;
  }

  .contactFlex{
    flex:1
  }

  .spacer1{
    height: 80px
  }

  .spacer2{
    height: 50px
  }

  .spacer3{

  }

  .mainText1{
    margin: 0 auto;
    width: 100vw;
  }
  .mainText2{
    width: 100vw;
    margin: 0 auto;
  }
  .mainText1Flex{
    font-size: 32px;
  }
  .mainText1FlexRight{
    font-size: 24px;
    padding: 1em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {

  .displayFlexWhenFullScreen{
    display: flex; text-align: left
  }

  .flex1WhenFullScreen{

  }

  .navText{
    margin-top: 10px;
    text-align: left;

  }

  .navParent{
    width: 10px;
  }

  .imageParent{
    width: 100%;
  }

  .infoParent{
    width: 100%;
  }

  .footerParent{
    width: 100%;
  }

  .headerBGImage{
    width: 100%;
  }

  .imgBackground {
    width: 100%;
    margin-top: -20%;
  }

  .contact1{
    width: 100%;
    height: 500px;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  }

  .example{
    color: blue;
    font-size: 42px;
  }

  .navbar{
    background-color: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .navbar-inverse-scrolled{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }
  .testSpanWelcome{
    margin-left: 2%;
    font-size: 18px;
    color: black;
    display: none;
  }


  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 15px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }

  .nav1{
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    width: 35%;
  }

  .logo_image{
    width: 100%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .headline1{
    font-family: gilroy;
    color: #b08720;
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 3em;
    padding: 1em;
    line-height: 1em;
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    margin: 0 auto;
    padding: 2em;
  }

  .question1{
    font-family: Arial, sans-serif;
    color: #b08720;
    font-size: 32px;
    text-align: left;
    line-height: 1em;
  }
  .question1button{
    font-family: gilroy;
    color: white;
    font-size: 22px;
    text-align: left;
    background-color: #b08720;
    width: 53%;
    padding: 15px;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
  }
  .questionSpacer{
    padding-top: 5%
  }

  .answer1{
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    color: dimgrey;
    font-size: 24px;
    margin-top: 5vw;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    text-align: left;
    margin-top: 5vh;
  }

  .paketeWidthDiv{

  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 32px;
    margin-left: 5%;
  }

  .unterstrich1{
    width: 30%;
    height: 7px;
    background-color: #b08720;
  }

  .paketeImageWidthDiv{
    height: 3em;
    margin-left: 5%;
  }

  .paketeImageWidth{
    width: 65%;
    padding-left: 10%;
  }

  .paketeOffersWidth{

  }

  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }

  .paketeOffersHeadlineColor{
    color: #b08720;
    font-size: 26px;
    padding-top: 1em;
    margin-left: 5%;
  }

  .paketeOffersMainText{
    font-size: 22px;
    line-height: 1.2em;
    margin-left: 5%;
  }

  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }

  .paketeOffersUnterstrich{
    width: 20%;
    height: 7px;
    background-color: #b08720;
    margin-left: 5%;
  }

  .contactPadding{
    padding-top: 5%
  }

  .contactPadding2{
    padding-top: 2%
  }

  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }

  .contactWholeWidth{
    width: 100%
  }

  .contactDisplayFlex{
    display: flex;
  }

  .contactFlex{
    flex:1
  }

  .spacer1{
    height: 80px
  }

  .spacer2{
    height: 50px
  }

  .spacer3{

  }

  .mainText1{
    margin: 0 auto;
    width: 100vw;
  }
  .mainText2{
    width: 100vw;
    margin: 0 auto;
  }
  .mainText1Flex{
    font-size: 32px;
  }
  .mainText1FlexRight{
    font-size: 24px;
    padding: 1em;
  }
}
@media screen and (min-width: 1201px){

  .navText{
    margin-top: 10px;
    text-align: left;
  }

  .navParent{
    width: 10px;
  }

  .imageParent{
    width: 100%;
  }

  .infoParent{
    width: 100%;
  }

  .footerParent{
    width: 100%;
  }

  .example{

  }

  .logo_image{
    width: 15vw;
  }

  .navbar{
    background-color: transparent;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .navbar-inverse-scrolled{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 0.1ms linear;
    -ms-transition: background-color 0.1ms linear;
    transition: background-color 0.1ms linear;
  }

  .imgBackground {
    width: 100%;
    height: auto;
    margin-top: -125px;
  }

  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }
  .testSpanWelcome{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 5px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }

  .nav1{
    width: 1200px;
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    margin-left: 9%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .spacer1{
    height: 80px
  }

  .spacer2{
    height: 50px
  }

  .spacer3{
    height: 100px
  }

  .mainText1{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .mainText2{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .mainText1Flex{
    flex:1;
    float: left;
  }

  .mainText1FlexRight{
    flex:1;
  }

  .headline1{
    font-family: gilroy;
    color: #b08720;
  }

  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 43px
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3%
  }

  .question1{
    font-family: gilroy;
    color: #b08720;
    font-size: 22px;
    text-align: left;
  }
  .question1button{
    font-family: gilroy;
    color: white;
    font-size: 22px;
    text-align: left;
    background-color: #b08720;
    width: 23%;
    padding: 15px;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
  }
  .questionSpacer{
    padding-top: 2%
  }

  .answer1{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
  }

  .centerPaketeDiv{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }

  .paketeMainDiv{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15% 10%;
    /*margin: 0 auto*/
  /* }

  .paketeWidthDiv{
    width: 600px;
  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 22px;
    margin-left: 0%;
    width: 500px;
    margin-left: 10%;
  }

  .unterstrich1{
    width: 150px;
    height: 7px;
    background-color: #b08720;
    margin-left: 35%;
  }

  .paketeImageWidthDiv{
    height: 150px
  }
  .paketeImageWidth{
    width: 300px;
  }

  .paketeOffersWidth{
    width: calc(100% - 600px)
  }

  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }

  .paketeOffersHeadlineColor{
    color: #b08720
  }

  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }

  .paketeOffersUnterstrich{
    width: 50px;
    height: 7px;
    background-color: #b08720;
    margin-top: -15px
  }

  .contact1{
    /*height: 500px;*/
/*     
    height: 25%;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  }

  .contactPadding{
    padding-top: 5%
  }

  .contactPadding2{
    padding-top: 2%
  }

  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }

  .contactWholeWidth{
    width: 100%
  }

  .contactDisplayFlex{
    display: flex;
  }

  .contactFlex{
    flex:1
  }

  .flex1WhenFullScreen{
    flex: 1
  }

  .displayFlexWhenFullScreen{
    display: flex; text-align: left
  }

}
ul {
  list-style-type: none;
} */
