<style>


  .navbar{
    background-color: transparent;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .imgBackground {
    width: 100%;
    height: auto;
    margin-top: -125px;
  }

  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 5px;
  }

  @font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-Light.otf) format("opentype");
  }

  a{
    color:black;
  }


  @media screen and (max-width: 575px) {
    .example{
      /*font-size: 42px;*/
      color: red;
      font-size: 42px;
    }
  }

  @media screen and (max-width: 900px) and (min-width: 576px){
    .example{
      /*font-size: 22px;*/
      color: green;
    }
  }
  @media screen and (min-width: 901px){
    .example{
      /*font-size: 12px;*/
      color: yellow;
    }
  }


  .nav1{
    width: 1200px;
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    margin-left: 9%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .spacer1{
    height: 80px
  }
  .spacer2{
    height: 50px
  }
  .spacer3{
    height: 100px
  }

  .mainText1{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .mainText2{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .mainText1Flex{
    flex:1;
    float: left;
  }
  .mainText1FlexRight{
    flex:1;
  }
  .headline1{
    font-family: gilroy;
    color: #b08720;
  }
  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 43px
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3%
  }

  .question1{
    font-family: gilroy;
    color: #b08720;
    font-size: 22px;
    text-align: left;
  }

  .answer1{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15% 10%;
  }

  .paketeWidthDiv{
    width: 600px;
  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 22px;
    margin-left: 0%;
    width: 500px;
    margin-left: 10%;
  }

  .unterstrich1{
    width: 150px;
    height: 7px;
    background-color: #b08720;
    margin-left: 35%;
  }

  .paketeImageWidthDiv{
    height: 150px
  }
  .paketeImageWidth{
    width: 300px;
  }

  .paketeOffersWidth{
    width: calc(100% - 600px)
  }
  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }
  .paketeOffersHeadlineColor{
    color: #b08720
  }
  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }
  .paketeOffersUnterstrich{
    width: 50px;
    height: 7px;
    background-color: #b08720;
    margin-top: -15px
  }

</style>


<!--BEN Test-->
<div id="moin" style="height: 0px"></div>

<!--NAVBAR-->
<nav class="navbar" (scroll)="onWindowScroll();" id="welcome">

  <!-- Übergeordneter Container, der das Logo und den Ankerlinks-Container umschließt -->
  <div class="nav1">
    <!-- Logo -->
    <div class="navLogo">
      <img
        width="250"
        src="assets/images/janine_logo_2.png"
      />
    </div>
    <!-- Neuer Container, der die Ankerlinks enthält -->
    <div class="navAnchors"> <!-- Die Ankerlinks bleiben linksbündig -->
      <a fragment="welcome" (click)="navigateToSection('moin')" class="testSpan">Willkommen</a>
      <a fragment="info" (click)="navigateToSection('test')" class="testSpan">Informationen</a>
      <a fragment="packages" (click)="navigateToSection('ankerpaket')" class="testSpan">Pakete</a>
      <a fragment="contact" (click)="navigateToSection('contact')" class="testSpan">Kontakt</a>
    </div>
  </div>
</nav>

<!--SPACE TO TOP-->
<div class="spacer1"></div>

<img
  class="imgBackground"
  src="assets/images/2.png"
/>

<div class="spacer2"></div>

<div class="example">
  Testest
</div>

<div class="mainText1">

<!--  Headline-->
  <div class="mainText1Flex" id="test">
    <h1 class="headline1">
      Lass deine Zähne für dich sprechen<br><strong>Mit einer professionellen Zahnaufhellung!</strong>
    </h1>
  </div>

<!--  Aufzählung-->
  <div class="mainText1FlexRight">
    <ul class="enum1">
      <li>
        Sanfte und nachhaltige Aufhellung
      </li>
      <li>
        Individuelle Anpassung: Bis zu 12 Farbnuancen heller
      <li>
        Zertifizierte Bleaching-Expertin mit jahrelanger Erfahrung
      </li>
      <li>
        Stilvolles Ambiente für professionelle und komfortable Behandlungen
      </li>
      <li>
        Schmerzfreie Behandlung dank schonender Methoden
      </li>
    </ul>
  </div>

</div>

<div class="spacer3"></div>

<div class="mainText2" id="faq">

  <h1 class="headline2">
    Wir beantworten Ihre Fragen zur Zahnaufhellung
  </h1>

</div>

<!--// Centering everything div-->
<div class="centerDiv">

  <div class="question1">
    Warum überhaupt Zahnaufhellung?
  </div>

<div class="answer1">
    Ein strahlendes Lächeln steigert Ihr Selbstvertrauen und sorgt für einen positiven ersten Eindruck. Unsere professionelle Zahnaufhellung verleiht Ihnen weißere Zähne in nur einer Sitzung – schonend, sicher und effektiv. Entdecken Sie, wie ein heller Glanz Ihre Ausstrahlung und Lebensqualität verbessern kann!
</div>
<br>
<div class="question1">
    Warum Elegance-Smile?
</div>
<div class="answer1">
    Unser Studio bietet Ihnen eine exklusive Zahnaufhellung mit modernsten Methoden und einem hohen Hygienestandard. Unsere zertifizierte Bleaching-Expertin verfügt über jahrelange Erfahrung, um Ihnen ein strahlendes Ergebnis zu garantieren. Vertrauen Sie auf Elegance Smile für schonende, effektive Aufhellung und höchste Professionalität.
</div>
<br>
<div class="question1">
    Aber tut das nicht weh?
</div>
<div class="answer1">
    Keine Sorge, unsere professionelle Zahnaufhellung ist völlig schmerzfrei! Dank schonender Methoden genießen Sie ein komfortables Erlebnis und erzielen strahlende Ergebnisse – ganz ohne Beschwerden.
</div>
<br>
<div class="question1" id="ankerpaket">
    Gerne beantworten stehen wir Ihnen für weitere Fragen zur Verfügung. Kontaktieren Sie uns!
</div>



  <div class="paketeMainDiv">
    <div class="paketeWidthDiv">
      <div class="paketeHeadline">
        <p>
          Unsere Pakete
        </p>
        <div class="unterstrich1"></div>
      </div>

      <div class="paketeImageWidthDiv"></div>
        <img
          class="paketeImageWidth"
          src="assets/images/circle.png"
        >
    </div>


    <div class="paketeOffersWidth">

      <div class="paketeOffersGeneral">
        <div class="paketePaddingTopDiv">
          <p class="paketeOffersHeadlineColor">ELEGANCE SMILE LIGHT</p>
          <p>
            Zahnaufhellung in 40 Minuten<br>
            Zwei Gel-Anwendungen <br>
            Aufhellung bis zu 5-6 Farbnuancen
          </p>
          <div class="paketeOffersFlex">
            <p class="paketeOffersHeadlineColor">99,00 €</p>
            <div class="paketeOffersUnterstrich"></div>
          </div>
        </div>

        <div class="paketePaddingTopDiv">
          <p class="paketeOffersHeadlineColor">ELEGANCE SMILE PREMIUM</p>
          <p>
            Unsere Premium Zahnaufhellung<br>
            von uns empfohlen<br>
            Zahnaufhellung in 60 Minuten<br>
            Drei Gel-Anwendungen<br>
            Aufhellung bis zu 7-8 Farbnuancen
          </p>
          <div class="paketeOffersFlex">
            <p class="paketeOffersHeadlineColor">169,00 €</p>
            <div class="paketeOffersUnterstrich"></div>
          </div>
        </div>

        <div class="paketePaddingTopDiv">
          <p class="paketeOffersHeadlineColor">ELEGANCE SMILE ULTRA</p>
          <p>
            Unser Ultra Paket<br>
            Zahnaufhellung in 80 Minuten<br>
            drei Gel-Anwendungen<br>
            Aufhellung bis zu 12 Farbnuancen
          </p>
          <div class="paketeOffersFlex">
            <p class="paketeOffersHeadlineColor">219,00 €</p>
            <div class="paketeOffersUnterstrich"></div>
          </div>
        </div>
      </div>

      </div>

  </div>

</div>




<div style="
  height: 500px;
  background-color: #dfc291;
  color: black;
  justify-content: center;
  text-align: center;
  "
     id="contact"
>

  <div style="padding-top: 5%">
    <img
      width="250"
      style="margin-top: 0%; margin-bottom: 0%"
      src="assets/images/janine_logo_inverse.png"
    />
  </div>

  <div style="padding-top: 2%">
    <h3>
      Kontaktdaten
    </h3>
  </div>

  <div>
    <p>
      <b>Elegance Smile</b><br>
      Hörder Rathausstraße 14<br>
      44263 Dortmund
    </p>
  </div>
  <div>
    <p>
      0231 6283 4369
    </p>
  </div>

  <div>
    <p>
      <a href="mailto:info@elegance-smile.de">info@elegance-smile.de</a>
    </p>
  </div>

  <div style="width: 100%">
    <div style="display: flex;">
      <div style="flex:1">
        <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
      </div>
      <div style="flex:1">
        <a routerLink="/datenschutz" routerLinkActive="active">Datenschutzerklärung</a>
      </div>
    </div>

  </div>

</div>
