@media screen and (max-width: 400px) {

  .navText{
    margin-top: 10px;
    text-align: left;
    display: none;
  }

  .navParent{
    width: 10px;
  }
  .imageParent{
    width: 100%;
    /*background-color: red;*/
  }
  .infoParent{
    width: 100%;
  }
  .footerParent{
    width: 100%;
  }

  .headerBGImage{
    width: 100%;
    background-color: green;
    /*width: 100vw;*/
    /*width: 100%;*/
    /*width: 63vh*/
    /*width: 100%;*/
    /*margin: 0;*/
  }

  .imgBackground {
    width: 100%;
    /*background-color: yellow;*/
    /*width: 100vw;*/
    /*height: auto;*/
    margin-top: -27%;
  }

  .contact1{
    /*width: 130vw;*/
    width: 100%;
    height: 500px;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  ;
    /*background-color: red;*/
    /*width: 63vh;*/
  }

  .example{
    /*font-size: 42px;*/
    color: blue;
    font-size: 42px;
  }

  .navbar{
    background-color: transparent;
    /*text-align: center;*/
    /*justify-content: center;*/
    position: fixed;
    top: 0px;
    width: 100%;
    /*width: 100vw;*/
    /*background-color: red;*/
  }



  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }



  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 15px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }


  .nav1{
    /*width: 1200px;*/
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    width: 35%;
    /*margin-left: 9%;*/
  }
  .logo_image{
    /*width: 40vw;*/
    width: 100%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .headline1{
    /*font-size: 4vh;*/
    font-family: gilroy;
    color: #b08720;
    /*background-color: red;*/
    /*width: 14em;*/
    margin-bottom: 1em;
    /*padding: 1em;*/
    line-height: 1.2em;
  }
  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 2em;
    padding: 1em;
    line-height: 1em;
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    /*max-width: 1200px;*/
    /*width: 100vw;*/
    margin: 0 auto;
    /*padding-top: 3%*/
    padding: 2em;
  }

  .question1{
    /*font-family: gilroy;*/
    font-family: Arial, sans-serif;
    color: #b08720;
    font-size: 32px;
    text-align: left;
    line-height: 1em;
  }

  .answer1{
    /*font-family: gilroy;*/
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    color: dimgrey;
    font-size: 24px;
    margin-top: 5vw;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    align-content: start;
    justify-content: space-between;
    text-align: left;
    margin-top: 5vh;
    /*margin: 15% 10%;*/
  }

  .paketeWidthDiv{
    /*width: 600px;*/
  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 32px;
    margin-left: 5%;
    /*margin-left: 0%;*/
    /*width: 500px;*/
    /*margin-left: 10%;*/
  }

  .unterstrich1{
    width: 30%;
    height: 7px;
    background-color: #b08720;
    /*margin-left: 5%;*/
    /*margin-left: 35%;*/
  }

  .paketeImageWidthDiv{
    height: 3em;
    margin-left: 5%;
  }
  .paketeImageWidth{
    width: 65%;
    padding-left: 10%;
  }

  .paketeOffersWidth{
    /*width: calc(100% - 600px)*/
  }
  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }
  .paketeOffersHeadlineColor{
    color: #b08720;
    font-size: 26px;
    padding-top: 1em;
    margin-left: 5%;
  }

  .paketeOffersMainText{
    font-size: 22px;
    line-height: 1.2em;
    margin-left: 5%;
  }

  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }
  .paketeOffersUnterstrich{
    width: 20%;
    height: 7px;
    background-color: #b08720;
    margin-left: 5%;
    /*margin-top: -15px*/
  }




  .contactPadding{
    padding-top: 5%
  }
  .contactPadding2{
    padding-top: 2%
  }
  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }
  .contactWholeWidth{
    width: 100%
  }
  .contactDisplayFlex{
    display: flex;
  }
  .contactFlex{
    flex:1
  }




  .spacer1{
    height: 80px
  }
  .spacer2{
    height: 50px
  }
  .spacer3{
    /*height: 100px*/
  }

  .mainText1{
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 1200px;*/
    margin: 0 auto;
    width: 100vw;
    /*display: flex;*/
  }
  .mainText2{
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    width: 100vw;
    margin: 0 auto;
    /*display: flex;*/
  }
  .mainText1Flex{
    /*flex:1;*/
    /*float: left;*/
    font-size: 32px;
  }
  .mainText1FlexRight{
    font-size: 24px;
    padding: 1em;
    /*flex:1;*/
  }





}
@media screen and (min-width: 401px) and (max-width: 1200px) {

  .navText{
    margin-top: 10px;
    text-align: left;
    display: none;
  }

  .navParent{
    width: 10px;
  }
  .imageParent{
    width: 100%;
    /*background-color: red;*/
  }
  .infoParent{
    width: 100%;
  }
  .footerParent{
    width: 100%;
  }

  .headerBGImage{
    width: 100%;
    background-color: green;
    /*width: 100vw;*/
    /*width: 100%;*/
    /*width: 63vh*/
    /*width: 100%;*/
    /*margin: 0;*/
  }

  .imgBackground {
    width: 100%;
    /*background-color: yellow;*/
    /*width: 100vw;*/
    /*height: auto;*/
    margin-top: -20%;
  }

  .contact1{
    /*width: 130vw;*/
    width: 100%;
    height: 500px;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  ;
    /*background-color: red;*/
    /*width: 63vh;*/
  }

  .example{
    /*font-size: 42px;*/
    color: blue;
    font-size: 42px;
  }

  .navbar{
    background-color: transparent;
    /*text-align: center;*/
    /*justify-content: center;*/
    position: fixed;
    top: 0px;
    width: 100%;
    /*width: 100vw;*/
    /*background-color: red;*/
  }



  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }



  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 15px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }


  .nav1{
    /*width: 1200px;*/
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    width: 35%;
    /*margin-left: 9%;*/
  }
  .logo_image{
    /*width: 40vw;*/
    width: 100%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .headline1{
    /*font-size: 4vh;*/
    font-family: gilroy;
    color: #b08720;
    /*background-color: red;*/
    /*width: 14em;*/
    margin-bottom: 1em;
    /*padding: 1em;*/
    line-height: 1.2em;
  }
  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 3em;
    padding: 1em;
    line-height: 1em;
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    /*max-width: 1200px;*/
    /*width: 100vw;*/
    margin: 0 auto;
    /*padding-top: 3%*/
    padding: 2em;
  }

  .question1{
    /*font-family: gilroy;*/
    font-family: Arial, sans-serif;
    color: #b08720;
    font-size: 32px;
    text-align: left;
    line-height: 1em;
  }

  .answer1{
    /*font-family: gilroy;*/
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    color: dimgrey;
    font-size: 24px;
    margin-top: 5vw;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    align-content: start;
    justify-content: space-between;
    text-align: left;
    margin-top: 5vh;
    /*margin: 15% 10%;*/
  }

  .paketeWidthDiv{
    /*width: 600px;*/
  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 32px;
    margin-left: 5%;
    /*margin-left: 0%;*/
    /*width: 500px;*/
    /*margin-left: 10%;*/
  }

  .unterstrich1{
    width: 30%;
    height: 7px;
    background-color: #b08720;
    /*margin-left: 5%;*/
    /*margin-left: 35%;*/
  }

  .paketeImageWidthDiv{
    height: 3em;
    margin-left: 5%;
  }
  .paketeImageWidth{
    width: 65%;
    padding-left: 10%;
  }

  .paketeOffersWidth{
    /*width: calc(100% - 600px)*/
  }
  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }
  .paketeOffersHeadlineColor{
    color: #b08720;
    font-size: 26px;
    padding-top: 1em;
    margin-left: 5%;
  }

  .paketeOffersMainText{
    font-size: 22px;
    line-height: 1.2em;
    margin-left: 5%;
  }

  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }
  .paketeOffersUnterstrich{
    width: 20%;
    height: 7px;
    background-color: #b08720;
    margin-left: 5%;
    /*margin-top: -15px*/
  }




  .contactPadding{
    padding-top: 5%
  }
  .contactPadding2{
    padding-top: 2%
  }
  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }
  .contactWholeWidth{
    width: 100%
  }
  .contactDisplayFlex{
    display: flex;
  }
  .contactFlex{
    flex:1
  }




  .spacer1{
    height: 80px
  }
  .spacer2{
    height: 50px
  }
  .spacer3{
    /*height: 100px*/
  }

  .mainText1{
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 1200px;*/
    margin: 0 auto;
    width: 100vw;
    /*display: flex;*/
  }
  .mainText2{
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    width: 100vw;
    margin: 0 auto;
    /*display: flex;*/
  }
  .mainText1Flex{
    /*flex:1;*/
    /*float: left;*/
    font-size: 32px;
  }
  .mainText1FlexRight{
    font-size: 24px;
    padding: 1em;
    /*flex:1;*/
  }





}
@media screen and (min-width: 1201px){

  .navText{
    margin-top: 10px;
    text-align: left;
  }

  .navParent{
    width: 10px;
  }
  .imageParent{
    width: 100%;
  }
  .infoParent{
    width: 100%;
  }
  .footerParent{
    width: 100%;
  }

  .example{
    /*font-size: 12px;*/
    color: yellow;
  }


  .logo_image{
    width: 15vw;
  }

  .navbar{
    background-color: transparent;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .navbar-inverse{
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .imgBackground {
    width: 100%;
    height: auto;
    margin-top: -125px;
  }

  #page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }

  .testSpan{
    margin-left: 2%;
    font-size: 18px;
    color: black;
  }

  .testSpan:hover{
    color: #b08720;
  }

  ul li {
    margin-bottom: 5px;
  }

  @font-face {
    font-family: gilroy;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
  }

  a{
    color:black;
  }




  .nav1{
    width: 1200px;
    text-align: center;
  }

  .navLogo{
    margin-top: 10px;
    text-align: left;
    margin-left: 9%;
  }

  .navAnchors{
    margin-top: 10px;
    text-align: left;
  }

  .spacer1{
    height: 80px
  }
  .spacer2{
    height: 50px
  }
  .spacer3{
    height: 100px
  }

  .mainText1{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .mainText2{
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .mainText1Flex{
    flex:1;
    float: left;
  }
  .mainText1FlexRight{
    flex:1;
  }
  .headline1{
    font-family: gilroy;
    color: #b08720;
  }
  .headline2{
    font-family: gilroy;
    color: #b08720;
    font-size: 43px
  }

  .enum1{
    text-align: left;
    color: dimgrey;
    font-family: gilroy
  }

  .centerDiv{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3%
  }

  .question1{
    font-family: gilroy;
    color: #b08720;
    font-size: 22px;
    text-align: left;
  }

  .answer1{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
  }

  .paketeMainDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15% 10%;
  }

  .paketeWidthDiv{
    width: 600px;
  }

  .paketeHeadline{
    font-family: gilroy;
    color: #b08720;
    font-size: 22px;
    margin-left: 0%;
    width: 500px;
    margin-left: 10%;
  }

  .unterstrich1{
    width: 150px;
    height: 7px;
    background-color: #b08720;
    margin-left: 35%;
  }

  .paketeImageWidthDiv{
    height: 150px
  }
  .paketeImageWidth{
    width: 300px;
  }

  .paketeOffersWidth{
    width: calc(100% - 600px)
  }
  .paketeOffersGeneral{
    font-family: gilroy;
    color: dimgrey;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
    flex:1;
  }

  .paketePaddingTopDiv{
    margin-top: 3%;
  }
  .paketeOffersHeadlineColor{
    color: #b08720
  }
  .paketeOffersFlex{
    flex: 1;
    text-align: left
  }
  .paketeOffersUnterstrich{
    width: 50px;
    height: 7px;
    background-color: #b08720;
    margin-top: -15px
  }



  .contact1{
    height: 500px;
    background-color: #dfc291;
    color: black;
    justify-content: center;
    text-align: center;
  }
  .contactPadding{
    padding-top: 5%
  }
  .contactPadding2{
    padding-top: 2%
  }
  .contactLogo{
    width:250px;
    margin-top: 0%;
    margin-bottom: 0%
  }
  .contactWholeWidth{
    width: 100%
  }
  .contactDisplayFlex{
    display: flex;
  }
  .contactFlex{
    flex:1
  }
}
